<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="toc.html">Tabla de Contenidos</a></li>
  <li><a href="artifacts.html">Indice de Artefactos</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Informacion de Interes<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="page1.html">Informacion de Integrantes del Equipo</a>
      </li>
      <li>
        <a href="page2.html">Objetivo del Trabajo</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Soporte<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">Especificacion FHIR<img src="external.png" style="text-align: baseline"/></a>
      </li>
    </ul>
  </li>
</ul>      